.button-green{
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  background-color: #2E6434;
  border-radius: 5px;
  width: 352px;
  border: 0px;
  color: white;
  font-weight: bold;
  height: 64px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.button-choose{
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

a{
  text-decoration: none;
}

.button-green:hover{
  color: #2E6434;
  background-color: white;
  text-shadow: 0px 0px 100px #a9a9aae6;
  transition: 0.7s ease-in-out;
  box-shadow: 0px 0px 300px #a9a9aae6;
  transition-delay: 0.1s;
}
